.cabecera {
  background-image: url(../images/IsladeJAva.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 421px;
  opacity: 95%;
  background-color: #099d8d;
  text-transform: uppercase;
  font-family: Rubik;
  line-height: 30px;
  font-size: 16px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #099d8d;
  font-family: Rubik-Medium;
}
.lema {
  box-sizing: border-box;
  margin: 15px;
  justify-content: center;
}
