.title {
  text-align: center;
  font-size: 24px;
  color: #099d8d;
  font-family: Rubik-Medium;
}
.lema {
  box-sizing: border-box;
  margin: 15px;
  justify-content: center;
}

/*estilo de los logos de redes*/
i {
  font-size: 16px;
  color: #099d8d;
  font-family: Rubik;
}
.rrss {
  text-align: center;
  color: #099d8d;
}

/*Quienes somos*/

.name {
  font-family: Opensans;
  font-size: 20px;
  color: black;
  text-align: center;
}
.bio {
  font-family: Opensans;
  font-size: 16px;
  color: #54585a;
  text-align: center;
}

/* estilo header*/
.cabecera {
  width: 320px;
  height: 60px;
  background-color: #099d8d;
  opacity: 95%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Rubik';
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  padding: 22px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headcontainer {
  width: 320px;
  height: 105px;
}
.navegador {
  width: 320px;
  height: 45px;
  background-color: #14d9c4;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navlinks {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 7px 8px 8px;
  font-family: 'Rubik';
}

/* No sé si esto está bien para traer las fuentes que no son los iconos de FontAwsome*/
/*@font-face {
  font-family: Rubik-Medium;
  src: url(fonts/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: OpenSans-Semi-Bold;
  src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
}*/

.title {
  text-align: center;
  font-size: 24px;
  color: #099d8d;
  font-family: 'Rubik';
}
.lema {
  box-sizing: border-box;
  margin: 15px;
  justify-content: center;
}

/*-----------EQUIPO-------------------*/

.team{
  width: 320px;
}

.description{

  height: 504px;
  background-color: #ffffff;
  /*border: solid 1px black;*/
}

.title-team{
  width: 89px;
  height: 45px;
  margin: 30px 114.5px 15px 116.5px;
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #14d9c4;

}

.p1{
  width: 290px;
  height: 384px;
  margin: 0px 15px 30px 15px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #54585a;
}

.dafo{
  height: 579px;
  width: 320px;
  padding: 30px 15px;
  /*opacity: 0.2;*/
  background-color: #b8b8b9;
}

.dafo-title-1{
  width: 290px;
  height: 45px;
  font-family: 'Rubik';
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  color: #099d8d;
}

.p2{
  width: 290px;
  height: 192px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #54585a;
}

.dafo-title-2{
  width: 290px;
  height: 45px;
  font-family: 'Rubik';
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  color: #099d8d;; 
}

.p3{
  width: 290px;
  height: 192px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #54585a;
}

/*.piquito{
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #ffffff;
}*/