.form__description {
  height: auto;
  background-color: $colorwhite;
  padding: 1.875rem 0;

  @media (min-width: 768px) {
    width: 50%;
    margin: auto;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  @media (min-width: 1200px) {
    width: 50%;
    margin: auto;
    padding-top: 2.8125rem;
    padding-bottom: 1.875rem;
  }
}
.form__title {
  width: 100%;
  height: 2.8125rem;
  margin: auto;
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 2.813rem;
  text-align: center;
  color: $colorlightaqua;
}

.form__p {
  width: 100%;
  height: auto;
  margin-top: 0.9375rem;
  font-family: $font-text;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: $color-text;
}
.form__subp {
  width: 100%;
  height: auto;
  margin-top: 0.9375rem;
  font-family: $font-text;
  font-size: 0.75rem; 
  line-height: 1.5rem;
  text-align: center;
  color: $color-text;
}

.form__description.item2{
  padding-top: 1.875rem;
}

.form {
  font-family: $font-text;
  color: $color-text;
}
.label {
  display: block;
  margin: 0.4375rem 0 0.8125rem;
}
.input {
  display: block;
  height: 2.8125rem;
  width: 100%;
  border: solid 1px #b8b8b9;
}
.asterisk {
  color: $colorlightaqua;
}

.message {
  width: 100%;
  font-family: $font-text;
  color: $color-text;
}

.button {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  height: 2.8125rem;
  width: 100%;
  color: $colorwhite;
  background-color: $color-highlight;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  @media (min-width: 768px) {
    width: 50%;
    transform: translate(100%,0);
    margin-bottom: 1.875rem;
  }
  @media (min-width: 1200px) {
    margin-bottom: 3.75rem;
  }
}

.form-flex{
  @media (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
  }
}
.form-flex__item--1{
  @media (min-width: 1200px) {
  min-width: 65%;
  margin-right: 2.8125rem;
  }
}