/*-----------FORMULARIO---------------------*/
.form {
  font-family: "Open Sans";
  color: #54585a;
}
.label {
  display: block;
  margin: 7px 0 13px 0;
}
.input {
  display: block;
  height: 45px;
  width: 100%;
  border: solid 1px #b8b8b9;
}
.asterisk {
  color: #14d9c4;
}

.message {
  width: 100%;
  font-family: "Open Sans";
  color: #54585a;
}

.button {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 45px;
  width: 100%;
  color: white;
  background-color: #099d8d;
  text-transform: uppercase;
}
