<article class="container-adalabers">
  <div class="pic">
    <img class="imagebio" src="@@pic" alt="@@alt" />
  </div>
  <div class="namebiorrss">
    <div class="name">
      <h3>@@name</h3>
    </div>
    <div class="bio">@@bio</div>
    <ul class="rrss">
      <li class="rrss-item">
        <a
          class="rrss-link"
          href="@@twitter"
          title="Perfil Twitter"
          target="_blank"
          ><div class="icon"><i class="dot fab fa-twitter"></i></div
        ></a>
      </li>
      <li class="rrss-item">
        <a
          class="rrss-link"
          href="@@linkedin"
          title="Perfil Linkedin"
          target="_blank"
          ><div class="icon"><i class="dot fab fa-linkedin-in"></i></div
        ></a>
      </li>
      <li class="rrss-item">
        <a
          class="rrss-link"
          href="@@github"
          title="Perfil Github"
          target="_blank"
          ><div class="icon"><i class="dot fab fa-github-alt"></i></div
        ></a>
      </li>
      <li class="rrss-item">
        <a class="rrss-link" href="@@mail" title="Contacto @" target="_blank"
          ><div class="icon">
            <i class="fas fa-envelope"></i></div
        ></a>
      </li>
    </ul>
  </div>
</article>
