<section class="adalabers" id="whoweare">
  <div class="jawa-container">
    <div class="title-adalabers">
      <h2>Quiénes somos</h2>
    </div>
    <!-----Bárbara-->
    <include
      src="./adalaber.html"
      pic="./assets/images/Foto_Barbara_Estevez.jpg"
      alt="Foto Bárbara Estévez Simonet"
      name="Bárbara Estévez Simonet"
      bio="Quiero llenar mi vida de mediaqueries que ayuden a adaptarme ante los
    breakpoints que surjan en el camino para ser una Desarrolladora
    Front-end. Me encanta trabajar en equipo donde todos aporten
    diferentes puntos de vista y nadie tiene una posición absoluta.
    Flexbox all the things!"
      twitter="https://twitter.com/barbaraestevez"
      linkedin="https://www.linkedin.com/in/barbara-estevez-simonet/"
      github="https://github.com/barbaraestevez"
      mail="mailto:barbara.estevez@gmail.com"
    ></include>
    <!----LAURA------------->
    <include
      src="./adalaber.html"
      pic="./assets/images/Laura.png"
      alt="Foto Laura Graizer Busca"
      name="Laura Graizer Busca"
      bio="Desarrolladora Front-end en proceso, con un trayectoria profesional
        basada en el ámbito de la educación y el emprendimiento. Disfruto
        trabajando en equipo y sintiendo que mi cerebro permanece en modo
        esponja ;)"
      twitter="https://twitter.com/?lang=es"
      linkedin="https://www.linkedin.com/in/laura-graizer-73236743/"
      github="https://github.com/parnasos"
      mail="mailto:lauragraizer@gmail.com"
    ></include>

    <!-------LUCÍA--------->
    <include
      src="./adalaber.html"
      pic="./assets/images/foto-lucia.jpg"
      alt="Foto Lucía Rodríguez Nova"
      name="Lucía Rodríguez Nova"
      bio="No more dramas more breakpoint. Cinéfila de la A la serie Z."
      twitter="https://twitter.com/?lang=es"
      linkedin="https://www.linkedin.com/in/luciarodrigueznova/"
      github="https://github.com/LuciaRoNova3005/"
      mail="mailto:lucia.r.nova2@gmail.com"
    ></include>

    <!------PATI-->
    <include
      src="./adalaber.html"
      pic="./assets/images/Foto_Pati.png"
      alt="Foto Patricia Vaquero Sáenz"
      name="Patricia Vaquero Sáenz"
      bio="Riojana de nacimiento y de corazón y en los últimos años maña de
    adopción, apasionada de las nuevas tecnologías. Me encanta aprender
    algo nuevo cada día. Etiquetas, etiquetas everywhere!!"
      twitter="https://twitter.com/?lang=es"
      linkedin="https://www.linkedin.com/"
      github="https://github.com/PatriciaVaqueroSaenz"
      mail="mailto:vaquerosaenzpatricia@gmail.com"
    ></include>

    <!--------PAULA------->
    <include
      src="./adalaber.html"
      pic="./assets/images/Paula.png"
      alt="Foto Paula Albo Vázquez-Noguerol"
      name="Paula Albo Vázquez-Noguerol"
      bio="Publicista, viajera y gallega. después de trabajar por el mundo en
    medios de comunicación, me he instalado en Madrid para centrarme en
    ser madre y programadora."
      twitter="https://twitter.com/?lang=es"
      linkedin="linkedin.com/in/paula-albo-vázquez-noguerol-b9699597"
      github="https://github.com/paulaavn"
      mail="mailto:paulaalbovn@gmail.com"
    ></include>
  </div>
</section>
