<section class="adalabers" id="whoweare">
  <div class="jawa-container">
    <div class="title-adalabers">
      <h2>Quiénes somos</h2>
    </div>
    <!-----Bárbara-->
    <article class="container-adalabersL">
      <div class="pic">
        <img
          class="imagebio"
          src="./assets/images/Foto_Barbara_Estevez.jpg"
          alt="Foto Bárbara Estévez Simonet"
        />
      </div>
      <div class="namebiorrss">
        <div class="nameL">
          <h3>Bárbara Estévez Simonet</h3>
        </div>
        <div class="bioL">
          Quiero llenar mi vida de mediaqueries que ayuden a adaptarme ante los
          breakpoints que surjan en el camino para ser una Desarrolladora
          Front-end. Me encanta trabajar en equipo donde todos aporten
          diferentes puntos de vista y nadie tiene una posición absoluta.
          Flexbox all the things!
        </div>
        <ul class="rrssL">
          <li class="rrss-item">
            <a
              class="rrss-link"
              href="https://twitter.com/barbaraestevez"
              title="Perfil Twitter"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-twitter"></i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              class="rrss-link"
              href="https://www.linkedin.com/in/barbara-estevez-simonet/"
              title="Perfil Linkedin"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-linkedin-in"></i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              class="rrss-link"
              href="https://github.com/barbaraestevez"
              title="Perfil Github"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-github-alt"></i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              class="rrss-link"
              href="mailto:barbara.estevez@gmail.com"
              title="Contacto @"
              target="_blank"
              ><div class="icon">
                <i class="fas fa-envelope"></i></div
            ></a>
          </li>
        </ul>
      </div>
    </article>
    <!----LAURA------------->
    <article class="container-adalabersR">
      <div class="pic">
        <img
          class="imagebio"
          src="./assets/images/Laura.png"
          alt="Foto Laura Graizer Busca"
        />
      </div>
      <div class="namebiorrss">
        <div class="nameR">
          <h3>Laura Graizer Busca</h3>
        </div>
        <div class="bioR">
          Desarrolladora Front-end en proceso, con un trayectoria profesional
          basada en el ámbito de la educación y el emprendimiento. Disfruto
          trabajando en equipo y sintiendo que mi cerebro permanece en modo
          esponja ;)
        </div>
        <ul class="rrssR">
          <li class="rrss-item">
            <a
              href="https://twitter.com/?lang=es"
              title="Perfil Twitter"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-twitter"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://www.linkedin.com/in/laura-graizer-73236743/"
              title="Perfil Linkedin"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-linkedin-in"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://github.com/parnasos"
              title="Perfil Github"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-github-alt"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="mailto:lauragraizer@gmail.com"
              title="Contacto @"
              target="_blank"
              ><div class="icon">
                <i class="fas fa-envelope"></i></div
            ></a>
          </li>
        </ul>
      </div>
    </article>
    <!-------LUCÍA--------->
    <article class="container-adalabersL">
      <div class="pic">
        <img
          class="imagebio"
          src="./assets/images/foto-lucia.jpg"
          alt="Foto Lucía Rodríguez Nova"
        />
      </div>
      <div class="namebiorrss">
        <div class="nameL">
          <h3>Lucía Rodríguez Nova</h3>
        </div>
        <div class="bioL">
          No more dramas more breakpoint. Cinéfila de la A la serie Z.
        </div>
        <ul class="rrssL">
          <li class="rrss-item">
            <a
              href="https://twitter.com/?lang=es"
              title="Perfil Twitter"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-twitter"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://www.linkedin.com/in/luciarodrigueznova/"
              title="Perfil Linkedin"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-linkedin-in"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://github.com/LuciaRoNova3005/ejercicios-adalab"
              title="Perfil Github"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-github-alt"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="mailto:lucia.r.nova2@gmail.com"
              title="Contacto @"
              target="_blank"
              ><div class="icon">
                <i class="fas fa-envelope"></i></div
            ></a>
          </li>
        </ul>
      </div>
    </article>
    <!------PATI-->
    <article class="container-adalabersR">
      <div class="pic">
        <img
          class="imagebio"
          src="./assets/images/Foto_Pati.png"
          alt="Foto Patricia Vaquero Sáenz"
        />
      </div>
      <div class="namebiorrss">
        <div class="nameR">
          <h3>Patricia Vaquero Sáenz</h3>
        </div>
        <div class="bioR">
          Riojana de nacimiento y de corazón y en los últimos años maña de
          adopción, apasionada de las nuevas tecnologías. Me encanta aprender
          algo nuevo cada día. Etiquetas, etiquetas everywhere!!
        </div>
        <ul class="rrssR">
          <li class="rrss-item">
            <a
              href="https://twitter.com/?lang=es"
              title="Perfil Twitter"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-twitter"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://www.linkedin.com/"
              title="Perfil Linkedin"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-linkedin-in"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://github.com/PatriciaVaqueroSaenz"
              title="Perfil Github"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-github-alt"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="mailto:vaquerosaenzpatricia@gmail.com"
              title="Contacto @"
              target="_blank"
              ><div class="icon">
                <i class="fas fa-envelope"></i></div
            ></a>
          </li>
        </ul>
      </div>
    </article>
    <!--------PAULA------->
    <article class="container-adalabersL">
      <div class="pic">
        <img
          class="imagebio"
          src="./assets/images/Paula.png"
          alt="Foto Paula Albo Vázquez-Noguerol"
        />
      </div>
      <div class="namebiorrss">
        <div class="nameL">
          <h3>Paula Albo Vázquez-Noguerol</h3>
        </div>
        <div class="bioL">
          Publicista, viajera y gallega. después de trabajar por el mundo en
          medios de comunicación, me he instalado en Madrid para centrarme en
          ser madre y programadora.
        </div>
        <ul class="rrssL">
          <li class="rrss-item">
            <a
              href="https://twitter.com/?lang=es"
              title="Perfil Twitter"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-twitter"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="linkedin.com/in/paula-albo-vázquez-noguerol-b9699597"
              title="Perfil Linkedin"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-linkedin-in"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="https://github.com/paulaavn"
              title="Perfil Github"
              target="_blank"
              ><div class="icon"><i class="dot fab fa-github-alt"> </i></div
            ></a>
          </li>
          <li class="rrss-item">
            <a
              href="mailto:paulaalbovn@gmail.com"
              title="Contacto @"
              target="_blank"
              ><div class="icon">
                <i class="fas fa-envelope"></i></div
            ></a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
