<section class="team" id="team">
    <div class="jawa-container">
      <article class="description">
        <h2 class="title-team">CONTACTO</h2>
        <p class="p1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum molestiae aut ipsa consectetur corrupti eius magnam expedita, id blanditiis animi voluptatum reiciendis atque, et a suscipit voluptatem aperiam amet culpa?
        </p>
        <p class="p1">
            Todos los campos marcados con <span class="asterisk">*</span> son obligatorios
        </p>
        </article>
        <article class="description">

          <form action="https://formspree.io/f/meqvokob" method="POST" id="form" class="form" autocomplete="off">
            
              <label for="name" class="label">Nombre completo <span class="asterisk">*</span></label>
              <input type="text" id="name" name="name" placeholder="Nombre..." class="input" required>

              <label for="email" class="label">Email <span class="asterisk">*</span></label>
              <input type="email" id="email" name="email" value="nombre.apellidos@mail.com" class="input" required>

              <label for="telephone" class="label">Teléfono</label>
              <input type="tel" id="telephone" name="telephone" placeholder="Ej: 123456789" class="input">

              <!--<label for="message" class="label">Mensaje <span class="asterisk">*</span></label>
              <textarea id="form" name="message" placeholder="¿Qué necesitas?" rows="10" columns="30" class="input">-->

              <label for="submit"></label>
              <input type="submit" name="submit" id="submit" value="Enviar" class="button">
           
          </form>
        </article>
    </div>
</section>