<footer class="footer">
  <span class="copy">Jawa &copy; 2021</span>

  <nav class="foot-container">
    <ul class="footer-list">
      <li class="team-link">
        <a class="footer-link" href="./index.html#team">Equipo</a>
      </li>
      <li class="whoweare-link">
        <a class="footer-link" href="./index.html#whoweare">Quienes somos</a>
      </li>
      <li class="contact-link">
        <a class="footer-link" href="./contacto.html">Contacto</a>
      </li>
    </ul>
  </nav>

  <img
    class="footlogo"
    src="./assets/images/logo-adalab.png"
    alt="Logo Adalab"
  />
</footer>
