<header class="headcontainer">
  <h1 class="cabecera">
    <a class="header-link-jawa" href="./index.html">Jawa</a>
  </h1>
  <nav class="navegador">
    <ul class="nav-list">
      <li class="navlinks">
        <a class="header-link" href="./index.html#team">Equipo</a>
      </li>
      <li class="navlinks">
        <a class="header-link" href="./index.html#whoweare">Quienes somos</a>
      </li>
      <li class="navlinks">
        <a class="header-link" href="./contacto.html" target="_self"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
