<section class="team" id="team">
    <div class="jawa-container">
      <article class="description">
        <h2 class="title-team">EQUIPO</h2>
        <p class="p1">
          Al igual que en la idílica isla de Indonesia la biodiversidad de
          nuestro equipo y sus enfoques es uno de nuestras fortalezas.
          Garantiza el equilibrio y un funcionamiento dinámico y en
          evolución constante.... <br />
          Somos un joven equipo de futuras desarrolladoras front-end,
          perseverantes y llenas de energía, lo damos todo para aprender.
          Probamos, fallamos, volvemos a probar y al final, lo logramos.
          <br />
          De nuestras diferencias conseguimos obtener diferentes puntos de
          vista para abordar los retos que se nos pongan por delante.
        </p>
      </article>
    </div>

    <div class="dafo">
      <div class="dafo-container">
        <div class="triangle"></div>
        <article class="strengths">
          <h3 class="dafo-title-1">Fortalezas</h3>
          <p class="p2">
            La integridad es clave para nosotras, nos relacionamos desde la
            honestidad y la transparencia. <br />
            Empatizando vemos las cosas desde múltiples persepectivas.
            <br />
            El compañerismo es importante... ¡nadie se queda atrás! <br />
            Motivación y perseverancia van de la mano para conseguir
            nuestros objetivos. <br />
            ¡Probando y fallando hasta lograrlo! <br />
          </p>
        </article>
        <article class="weaknesses">
          <h3 class="dafo-title-2">Debilidades</h3>
          <p class="p3">
            Falta de experiencia que supone un verdadero reto diario, aunque
            no lo vemos como algo negativo y lo suplimos con las ganas de
            aprender todo lo posible. <br />
            Perfeccionismo, intentamos dar lo mejor de nosotras en cada
            proyecto y queremos que los resultados sean perfectos
            pero...¿quién no? ;)
          </p>
        </article>
      </div>
    </div>
  </section>