// fonts
$font-title: "Rubik", sans-serif;
$font-text: "Open Sans", sans-serif;

// colors
$colordarkaqua: #099d8d;
$color-highlight: $colordarkaqua;
$colorlightaqua: #14d9c4;
$colorwhite: #fff;
$color-nocolor: $colorwhite;
$colordarkgray: #54585a;
$color-text: $colordarkgray;
