.adalabers {
  scroll-margin-top: 6.5625rem;

  @media (min-width: 768px) {
    scroll-margin-top: 3.75rem;
  }
}
.whoweare {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.title-adalabers {
  width: 100%;
  margin: 1.875rem auto 1.875rem auto;
  font-family: $font-title;
  font-size: 1.5rem;
  text-align: center;
  color: $color-highlight;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-top: 2.813rem;
    margin-bottom: 2.5rem;
  }
  @media (min-width: 1200px) {
    width: 100%;
    margin-top: 2.813rem;
    margin-bottom: 2.5rem;
  }
}
.container-adalabers {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.563rem;
  margin-bottom: 1.25rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  @media (min-width: 1200px) {
    align-items: flex-start;
  }
}
.container-adalabers:nth-child(odd) {
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: right;
  }
}

.pic {
  width: 11.25rem;
  height: 11.25rem;
  justify-content: center;
  margin: auto;

  @media (min-width: 768px) {
    min-width: 207px;
    min-height: 207px;
    margin: initial;
  }
  @media (min-width: 1200px) {
    min-width: 278px;
    min-height: 278px;
    margin: initial;
  }
}
.imagebio {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  border: 0.313rem solid lightgray;
  border-radius: 0.625rem;
  box-sizing: border-box;
}
.namebiorrss {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 45px;
  }
}
.container-adalabers:nth-child(odd) .namebiorrss {
  @media (min-width: 768px) {
    justify-content: right;
    align-items: flex-end;
    margin-right: 45px;
  }
}

.name {
  font-family: $font-text;
  font-size: 1.25rem;
  color: black;
  text-align: center;
  margin-top: 0.938rem;

  @media (min-width: 768px) {
    text-align: left;
    line-height: 2.813rem;
  }
  @media (min-width: 1280px) {
    font-size: 1.375rem;
  }
}
.name:nth-child(odd) {
  @media (min-width: 768px) {
    text-align: right;
  }
}
.bio {
  font-family: $font-text;
  font-size: 1rem;
  color: $color-text;
  text-align: center;
  padding: 0.938rem 0 0.938rem 0;
  line-height: 1.5rem;

  @media (min-width: 768px) {
    text-align: left;
    width: 500px;
  }
  @media (min-width: 1280px) {
    font-size: 1.25rem;
  }
}
.container-adalabers:nth-child(odd) .bio {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.rrss {
  width: 7.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  color: $color-highlight;
  margin: 0 auto 40px auto;
  list-style: none;

  @media (min-width: 768px) {
    text-align: left;
    margin: 0 auto 40px 0;
  }
}
.rrss-link:hover {
  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 0 $color-text, -1px -1px 0 $color-text,
    -1px -1px 0 $color-text, 1px 1px 0 $color-text;
}
.container-adalabers:nth-child(odd) .rrss {
  @media (min-width: 768px) {
    text-align: right;
    margin: 0 0 40px auto;
  }
}

.icon {
  font-size: 1rem;
  color: $color-highlight;
  font-family: $font-title;
  text-align: center;
  position: relative;
}
.dot::after {
  content: ".";
  color: $color-highlight;
  position: absolute;
  transform: translate(200%, -40%);
}
