/*--5.-footer--------------------------*/
.footer {
  border-top: solid 1px $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15.63rem;
  padding: 2.8rem;
  @media (min-width: 768px) {
    height: 10.63rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.copy {
  height: 1.25rem;
  margin: 0rem 0rem 1.25rem;
  font-size: 0.875rem;
  color: #b8b8b9;
  text-align: center;
  font-family: $font-text;
  @media (min-width: 768px) {
    margin: 0.38rem 11.38rem 0.94rem 0;
  }
  @media (min-width: 1200px) {
    width: 9rem;
    margin-left: 5.6rem;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-family: "Open Sans-semibold", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.43;
  width: 100%;
  @media (min-width: 768px) {
    width: 20.25rem;
    height: 5.625rem;
    align-items: flex-end;
    line-height: 2em;
  }
  @media (min-width: 1200px) {
    line-height: 3em;
    margin-right: 8.6rem;
  }
}
.footlogo {
  width: 115.9px;
  height: 45px;
  margin: 2.8rem 6.38rem 0rem 6.38rem;
  @media (min-width: 768px) {
    position: absolute;
    transform: translate(-110px, 0px);
  }
  @media (min-width: 1200px) {
    margin-left: 14rem;
  }
}
.footer-link:link,
.footer-link:visited,
.footer-link:active {
  text-decoration: none;
  color: $color-text;
  transition: all 0.5s ease-in-out;
}
.footer-link:hover {
  text-shadow: 3px 3px 0 $colorlightaqua, -1px -1px 0 $colorlightaqua,
    -1px -1px 0 $colorlightaqua, 1px 1px 0 $colorlightaqua;
}
