/*----2-Hero-------------------------------*/
.hero {
  height: 28.13rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-hero {
  height: 26.31rem;
  background: url(../images/isla-java.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
}

.lema {
  background-color: $colorwhite;
  padding: 0.9375rem;
  text-align: center;
  margin: 24.19rem 0 0 0;
  font-family: $font-text;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.563rem;
}
@media (min-width: 768px) {
  .lema {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.9375rem 1.875rem 0.9375rem 1.875rem;
    margin: 22.88rem 0 0 0;
    text-align: justify;
    display: inline-block;
  }
}
