@import "core/reset";
@import "core/variables";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/adalabers";
@import "layout/footer";
@import "components/fontawesome";
@import "components/form";

/*--------RESPONSIVE-------------------------------*/

@media (min-width: 768px) {
  /*--1----------------------------*/
  .headcontainer {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cabecera {
    width: 100%;
    justify-content: flex-start;
    padding: 0 45px;
  }
  .navegador {
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    background-color: inherit;
    padding: 0 45px;
  }
  /*.nav-list {
       margin-right: 0.75rem; 
    }*/
  /*.navlinks {
       padding-left: 1rem; 
    }*/

  /*--2----------------------------*/
  .lema {
    opacity: 0.8;
    width: 441px;
    padding: 15px, 30px, 15px 30px;
    margin: 366px 0px 0 0px;
    text-align: justify;
  }

  /*--3----------------------------*/

  .jawa-container {
    margin: 0 2.8125rem;
  }

  .team {
    scroll-margin-top: 3.75rem;
  }

  .dafo-container {
    margin: 0 2.8125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .strengths {
    width: 50%;
    padding-top: 2.8125rem;
    padding-bottom: 3.75rem;
    margin-right: 1.875rem;
  }
  .weaknesses {
    width: 50%;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
  .triangle {
    position: relative;
    left: 50%;
  }
  .p2 {
    padding-top: 0.9375rem;
  }
  .p3 {
    padding-top: 0.9375rem;
  }

  /*--------------------------------*/
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    align-items: flex-start;
    height: 10.63rem;
    width: 100%;
  }
  .copy {
    margin-left: 2.813rem;
    margin-top: 1.875rem;
  }
  .footer-list {
    width: 20.25rem;
    height: 5.625rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2em;
    margin-left: 24.94rem;
    margin-bottom: 3.5rem;
  }
  .footlogo {
    position: absolute;
    transform: translateY(40px);
  }
}
/*--5----------------------------*/

@media (min-width: 1200px) {
  /*--1----------------------------*/

  .jawa-container {
    margin: 0 8.625rem;
  }
  .headcontainer {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cabecera {
    width: 100%;
    justify-content: flex-start;
    padding: 0 138px;
  }
  .navegador {
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    background-color: inherit;
    padding: 0 138px;
  }
  .navlinks {
    margin-left: 24px;
  }
  /*--2----------------------------*/
  .lema {
    opacity: 0.8;
    width: 574px;
    padding: 15px, 30px, 15px;
    margin: 366px 0px 0 0px;
  }
  /*--3----------------------------*/

  .description {
    width: 50%;
    margin: auto;
    padding-top: 2.8125rem;
    padding-bottom: 3.75rem;
  }

  .dafo-container {
    margin: 0 8.625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .strengths {
    width: 50%;
    margin-right: 2.8125rem;
  }
  .weaknesses {
    width: 50%;
    padding-bottom: 3.75rem;
  }
  /*--4----------------------------*/

  .pic {
    min-width: 278px;
    min-height: 278px;
    margin: initial;
  }
  .titlewhoweare {
    width: 100%;
    margin-top: 2.813rem;
    margin-bottom: 2.5rem;
  }
  .container-adalabersL,
  .container-adalabersR {
    align-items: flex-start;
  }
  /*--5----------------------------*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 161px;
    width: 100%;
  }
  .copy {
    margin-left: 138px;
    margin-top: 30px;
  }
  .footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 3em;
    width: 324px;
    height: 94px;
    margin-right: 138px;
  }

  .footlogo {
    margin-left: 125px;
  }
}
